In [3]:
#1.
for i in range(5, 0, -1):
    for j in range(0, i):
        print(5, end=' ')
    print(" ")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [6]:
int(input("enter the number"))
for i in range(5, 0, -1):
    for j in range(0, i):
        print(5, end=' ')
    print(" ")

enter the number5
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [2]:
#2.
num = 5
for i in range(num, 0, -1):
    for j in range(0, i + 1):
        print(j, end=' ')
    print(" ")

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [32]:
#3.
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print((i * 2 - 1), end=" ")
        j = j + 1
    i = i + 1
    print('')

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [4]:
#4.
i = 6
for i in range(1, i):
    for j in range(i, 0, -1):
        print(j, end=' ')
    print("")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [5]:
#5.
a = 1
b = 2
current_num = b
for row in range(2, 6):
    for col in range(a, b):
        current_num -= 1
        print(current_num, end=' ')
    print("")
    a = b
    b += row
    current_num = b

1
3 2
6 5 4
10 9 8 7

In [15]:
#6.
def print_pascal_triangle(size):
    for i in range(0, size):
        for j in range(0, i + 1):
            print(decide_number(i, j), end=" ")
        print()


def decide_number(n, k):
    num = 1
    if k > n - k:
        k = n - k
    for i in range(0, k):
        num = num * (n - i)
        num = num // (i + 1)
    return num



print_pascal_triangle(7)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [65]:
#7.
rows = 5
for i in range(1, rows + 1):
    for j in range(1, rows + 1):
        if j <= i:
            print(i, end=' ')
        else:
            print(j, end=' ')
    print(' ')

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [68]:
#8.
rows = 8
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        square = i * j
        print(i * j, end='  ')
    print(' ')

1
2  4
3  6  9
4  8  12  16
5  10  15  20  25
6  12  18  24  30  36
7  14  21  28  35  42  49
8  16  24  32  40  48  56  64

In [77]:
#9.
rows = 5
k = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [82]:
#10.
size = 7
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    m = m - 1
    for j in range(0, i + 1):
        print(" * ", end='')
    print(" ")

             *
            *  *
           *  *  *
          *  *  *  *
         *  *  *  *  *
        *  *  *  *  *  *
       *  *  *  *  *  *  *

In [83]:
#11.
rows = 6
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

print(" ")

for i in range(rows + 1, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [16]:
#12.
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [20]:
#13.
rows = 5
i = 1
while i <= rows:
    j = i
    while j < rows:
        # display space
        print(' ', end=' ')
        j += 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows
while i >= 1:
    j = i
    while j <= rows:
        print(' ', end=' ')
        j += 1
    k = 1
    while k < i:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [19]:
#14.
num = 5
i = 0
while i <= num - 1:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= num - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = num - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= num - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [87]:
#15.
rows = 14
print("*" * rows, end="\n")
i = (rows // 2) - 1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*